{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block content %}

  <div class="row">
  {% for human in humans %}
    <div class="col-lg-6 d-flex align-items-stretch">
      <div class="card border-dark mb-3 justify-content" style="margin-left: 1rem;">
        <div class="card-body text-dark">
          <img src="/media/{{human.get_img}}" align="left" style="max-width: 150px; margin-right: 3rem;">        
          <h2 class="card-title">{{human.first_name}} {{human.last_name}} - {{human.born}}</h2>
          <h3 class="card-text">Дата смерти: {{human.death}}, {{human.age}} год</h3>
        
          <h4 class="card-text">{{human.description}}<br><a href="{% url "homepage:human" human.pk %}">Узнать место захоронения...</a></h4>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
