{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }}
{% endblock title %}


{% block content %}
<script type="text/javascript">
  // Функция ymaps.ready() будет вызвана, когда
  // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
  ymaps.ready(init);
  function init(){
      // Создание карты.
      var myMap = new ymaps.Map("map", {
          // Координаты центра карты.
          // Порядок по умолчанию: «широта, долгота».
          // Чтобы не определять координаты центра карты вручную,
          // воспользуйтесь инструментом Определение координат.
          center: [{{human.NS}}, {{human.WE}}],
          // Уровень масштабирования. Допустимые значения:
          // от 0 (весь мир) до 19.
          zoom: 18
      });
      var myPlacemark = new ymaps.Placemark([{{human.NS}}, {{human.WE}}]);
      myMap.geoObjects.add(myPlacemark);
  }
  </script>
  <div class="card border-dark mb-3" style="margin-left: 30%; margin-right: 30%">
    <div class="card-body text-dark">
      <img src="/media/{{human.get_img}}" align="left" style="max-width: 150px; margin-right: 3rem;">        
      <h2 class="card-title">{{human.first_name}} {{human.last_name}} - {{human.born}}</h2>
      <h3 class="card-text">Дата смерти: {{human.death}}, {{human.age}} год</h3>
      <h4 class="card-text">{{human.description}}</h4>
    </div>
  </div>
  <div id="map" style="width: 600px; height: 400px; margin-left: 30%; min-width: 40%"></div>
{% endblock content %}