{% load static %}

<!-- Navbar --> 
<div class="container-fluid">
  <a class="navbar-brand" href="{% url "homepage:home" %}">
    <img style="width: 50px; float: left; margin-left: 2rem; margin-right: 1rem;" src="{% static "img/favicon/favicon-png-50x50.png" %}">
  </a>
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn-send btn-outline-success" type="submit">Найти</button>
  </form>
  </div>
</div>
<!-- Navbar -->
