{% load static %}

<!-- Navbar --> 
<div class="container-fluid">
  <a class="navbar-brand" href="{% url "homepage:home" %}">
    <img style="width: 50px; float: left; margin-left: 2rem; margin-right: 1rem;" src="{% static "img/brand.png" %}">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url "homepage:home" %}">Главная</a>
      </li>
    </ul>
  </div>
  <form class="d-flex" action="{% url 'homepage:search_results' %}" method="get">
    <input name="search" class="form-control me-2" type="text" placeholder="Ввод...">
    <button class="btn-send btn-outline-success" type="submit">Найти</button>
  </form>
  </div>
</div>
<!-- Navbar -->
